@tailwind base;
@tailwind components;
@tailwind utilities;


/* #cursor {
	width: 1rem;
	height: 1rem;
	visibility: visible;
	display: block;
	background-color: white;
	position: absolute;
	z-index: 999999999;
} */


.glassmorph-white {
	background: rgba(194, 194, 194, 0.25);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 18px );
	-webkit-backdrop-filter: blur( 8.5px );
	border-radius: 25px;
}

.glassmorph-dark {
	background: rgba(41, 41, 41, 0.25);
	box-shadow: 0 8px 32px 0 rgba(51, 39, 88, 0.37);
	backdrop-filter: blur( 18px );
	-webkit-backdrop-filter: blur( 18px );
	border-radius: 25px;
	border: 2px solid rgba(255, 255, 255, 0.05);
}

.vertical-center {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.smooth {
	transition: all 112ms ease-in;
	transition-delay: 83ms;
	-webkit-transition: all 112ms ease-in;
}

.no-cursor {
	cursor: default !important;
}